:root {
  /* colors */
  --primary-1: #a8ff35;
  --green-2: #87d322;
  --button-hover: #8cc83a;
  --black: #000000;
  --black-2: #2b2b2b;
  --grey-1: #8b8b8b;
  --grey-2: #adadad;
  --grey-3: #f5f5f5;
  --grey-4: #f1f1f1;
  --off-white: #ffffff;
}

@font-face {
  font-family: "Effra";
  font-style: normal;
  font-weight: normal;
  src: url("https://sel-dev-bucket.s3.us-east-1.amazonaws.com/Fintrend/Effra_Std_Rg.woff")
    format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Effra", Helvetica, sans-serif;
  border: 1px solid hotpink;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

section,
footer {
  min-width: 350px;
}

button {
  border: none;
  padding: 12px 32px;
  cursor: pointer;
}

.hero-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(https://sel-dev-bucket.s3.us-east-1.amazonaws.com/Fintrend/website.png);
  background-size: cover;
}

/* nav bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
  /* height: 100px; */
  padding: 20px 80px;
  width: 100%;
  max-width: 1280px;
}

.nav-logo {
  width: 170px;
  height: 41px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border: 1px solid blue;
}

nav li {
  display: flex;
  font-size: 1.5em;
  color: var(--off-white);
  font-weight: 100;
  list-style: none;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.cta-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* width: 213px;
  height: 42px; */
}

.login {
  color: white;
  font-size: 1.8em;
  /* height: fit-content; */
}

.reg-cta {
  background-color: white;
  color: black;
  /* width: 129px;
  height: 42px; */
  padding: 15px 50px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.headline {
  font-size: 7.2em;
  color: white;
}

.hero-container p {
  font-size: 18px;
  color: var(--grey-1);
}

.headline,
.hero-container p,
.green-container p,
.green-container h1 {
  text-align: center;
}

.hero-cta {
  color: var(--black);
  background: var(--primary-1);
  width: 20%;
  height: 18%;
  border-radius: 40px;
  min-width: 180px;
}

.hero-cta span {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Green section */
.arrow1,
.arrow2 {
  display: none;
}
.green-section {
  background-color: var(--primary-1);
  width: 100vw;
  height: 742px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green-container {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.green-container h1 {
  font-size: 7.2em;
}

.white-box {
  width: 500px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--grey-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-box img {
  width: 341px;
  height: 82px;
}

.green-container p {
  font-size: 1.8em;
}

/* how it works section */

.how-it-works .connect {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-it-works article {
  width: 80%;
  margin: 10%;
}

h3 {
  font-size: 6.4em;
  font-weight: 700;
}

.grey-text {
  color: var(--grey-2);
}

/* grid section */

.partner-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 50px 0px;
}

.partner-section h3 {
  margin-bottom: 100px;
}

.grid {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.grid div {
  width: 266px;
  height: 120px;
  background-color: var(--grey-3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid div img {
  width: 200px;
}

/* connect section */

.connect {
  background-color: var(--grey-4);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.connect-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platform-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 124px;
  margin: 100px 0;
  overflow-x: scroll;
}

.platform-logos div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 20%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

.platform-logos div:nth-child(2) {
  background-color: var(--primary-1);
}

.platform-logos div img {
  width: 60px;
  height: 60px;
}

.tweets {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

/* pricing section */

.pricing {
  width: 100vw;
  padding: 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pricing h3 {
  color: white;
  font-size: 6.4em;
}

.toggle {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px 0;
  margin-bottom: 100px;
}
.toggle img {
  display: none;
}

.toggle p {
  color: white;
  font-size: 2.4em;
  font-weight: 500;
}

.bg {
  width: 104px;
  height: 52px;
  background-color: white;
  border-radius: 99px;
  position: relative;
}

.circle {
  width: 36px;
  height: 36px;
  background-color: #a8ff35;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.price-cards {
  width: 100%;
  min-width: 90vw;
  height: 640px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}

.card,
.card-green {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 100%;
  padding: 1.5%;
}

/* .price-cards:nth-child(2) {
  background-color: #a8ff35;
} */

.card {
  background-color: white;
}

.card-green {
  background-color: var(--primary-1);
}

.benefits-container {
  display: flex;
  flex-direction: column;
}

.card h3,
.card-green h3 {
  font-size: 3.6em;
  color: black;
  margin-bottom: 8px;
}

hr {
  width: 296px;
  margin: 16px 0;
  opacity: 20%;
}

.top-container {
  height: 80%;
  margin-top: 20px;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 296px;
  height: 20%;
}

.green-button {
  background-color: var(--primary-1);
}

.green-button,
.black-btn {
  width: 100%;
  height: 58px;
  border-radius: 30px;
  font-size: 1.8em;
  font-weight: 700;
}

.top-container span {
  font-size: 6.4em;
  font-weight: 400;
}

.top-container p {
  font-size: 1.8em;
  font-weight: 400;
}

.benefit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  gap: 10px;
}

.benefit img {
  width: 14px;
  height: 9px;
}

.black-btn {
  background-color: var(--black);
  color: white;
}

/* contact */

.contact {
  background-color: var(--primary-1);
  width: 100vw;
  height: 539px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  height: 250px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container h1 {
  font-size: 7.2em;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.contact-container span {
  color: var(--green-2);
}

.contact-btn {
  background-color: var(--black);
  color: white;
  width: 180px;
  height: 57px;
  border-radius: 40px;
}

footer {
  width: 100vw;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 170px;
  height: 41px;
  margin-left: 80px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 18px;
  gap: 40px;
}

footer ul li {
  list-style: none;
}

/* anything over 951 */
@media only screen and (min-width: 951px) {
  .mobile-nav-logo {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
/* up to 1200 */
@media only screen and (max-width: 1200px) {
  .price-cards {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    gap: 40px;
  }
}

/* up to 1090 */
@media only screen and (max-width: 1090px) {
  .nav {
    padding: 20px;
  }
  .partner-section h3 {
    font-size: 5.5em;
  }
  .connect-container h3 {
    font-size: 5em;
  }
}

/* up to 950 */
@media only screen and (max-width: 950px) {
  .nav {
    display: none;
  }

  .green-container h1 {
    font-size: 5em;
  }

  .mobile-nav {
    display: flex;
    height: 88px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  .mobile-nav-logo {
    width: 44px;
    height: 44px;
  }

  .mobile-nav ul {
    padding: 20px 0;
    background-color: black;
    display: none;
    flex-direction: column;
    gap: 40px;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 24px;
    height: 24px;
  }

  .line {
    width: 18px;
    border: 1px solid white;
    border-radius: 50px;
  }
  .partner-section h3 {
    font-size: 4em;
  }
  .hero-cta {
    width: 30%;
  }
  .connect-container h3 {
    font-size: 4em;
  }
  .contact-container h1 {
    font-size: 4em;
  }
}

/* anything over 650 */
@media only screen and (min-width: 650px) {
  .mobile-tabs {
    display: none;
  }
}

/* up to 650 */
@media only screen and (max-width: 650px) {
  /* hero section */
  .headline {
    font-size: 3.6em;
    font-weight: 900;
  }

  .hero-section {
    justify-content: space-around;
    padding: 0 0 20px 0;
    height: fit-content;
  }

  .hero-container {
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
    height: fit-content;
    padding: 5%;
  }

  /* mobile tabs */
  .mobile-tabs {
    width: 293px;
    height: 312px;
  }
  .tab {
    background-color: #181818;
    width: 300px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 12px;
    padding: 0 0 0 35px;
  }
  .tab img {
    width: 27px;
    height: 27px;
  }
  .tab p {
    font-size: 1.7em;
    color: white;
  }
  .fade-square {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 78px;
    background: linear-gradient(
      90deg,
      rgba(24, 24, 24, 0.8),
      rgba(24, 24, 24, 1)
    );
  }
  .close {
    z-index: 1;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 20px;
  }

  .tab1 {
    transform: rotate(-4deg);
  }
  .tab2 {
    transform: rotate(2deg);
  }
  .tab3 {
    transform: rotate(-2deg);
  }
  .tab4 {
    transform: rotate(4deg);
  }
  .hero-cta {
    width: 40%;
  }
  .hero-cta span {
    font-size: 1.2em;
  }

  /* green section */

  .green-section {
    height: 541px;
  }

  .green-container h1 {
    font-size: 3em;
  }

  .green-container {
    position: relative;
    height: 100%;
    justify-content: space-around;
    padding: 20px;
  }

  .white-box {
    width: 339px;
    height: 118px;
  }
  .white-box img {
    width: 291px;
    height: 70px;
  }
  .arrow1 {
    display: flex;
    position: absolute;
    top: 150px;
    right: 30px;
  }
  .arrow2 {
    display: flex;
    position: absolute;
    bottom: 180px;
    left: 30px;
  }

  /* how it works */
  .how-it-works h3 {
    font-size: 3.6em;
  }

  .partner-section {
    padding: 20px;
    justify-content: flex-start;
    height: fit-content;
  }
  .partner-section h3 {
    font-size: 3.6em;
    text-align: center;
  }

  .grid {
    width: 100%;
    gap: 18px;
  }
  .grid div {
    width: 162px;
    height: 74px;
  }
  .grid div img {
    width: 100px;
    height: 25px;
  }
  .how-it-works {
    height: fit-content;
  }

  /* connect */
  .connect {
    padding: 50px 0 0 0;
  }
  .connect-container {
    width: 100vw;
  }

  .connect h3 {
    font-size: 3.6em;
    padding: 0 16px;
    text-align: center;
  }

  .platform-logos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 64px;
    gap: 18px;
    overflow-x: scroll;
    padding-left: 20px;
  }

  .platform-logos div {
    width: 64px;
    height: 64px;
    padding: 0 16px;
  }
  .platform-logos div img {
    width: 30px;
    height: 30px;
  }
  .tweets {
    width: 100%;
    height: fit-content;
  }
  .tweets img {
    width: 90%;
    height: auto;
  }
  .trend-btn {
    padding: 10px;
  }

  .connect-container button {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 44px;
    color: white;
    border-radius: 40px;
    padding: 20px;
  }

  /* pricing */
  .pricing h3 {
    font-size: 4em;
  }

  /* conatct section */
  .contact-container h1 {
    font-size: 3em;
  }

  /* footer */
  footer {
    padding: 5%;
  }

  footer img {
    margin: 30px;
  }
  footer,
  footer ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 300px;
  }
}

/* up to 450 */
@media only screen and (max-width: 450px) {
  .toggle img {
    display: flex;
    position: absolute;
    top: 150px;
    right: 80px;
  }
  .arrow1 {
    display: flex;
    position: absolute;
    top: 130px;
    right: 0px;
  }
  .arrow2 {
    display: flex;
    position: absolute;
    bottom: 185px;
    left: 0px;
  }
  .green-container h1 {
    font-size: 3.6em;
  }
}
